<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc.xsd
						http://code.alibabatech.com/schema/dubbo
						http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/security
                          http://www.springframework.org/schema/security/spring-security.xsd">

    <context:component-scan base-package="com.itheima"></context:component-scan>


    <!--    配置不需要拦截的资源 css js -->
    <security:http pattern="/login.html" security="none"></security:http>
    <security:http security="none" pattern="/js/**" />
    <security:http security="none" pattern="/css/**" />


    <!--    auto-config="true" 配置一系列的过滤器-->
    <security:http auto-config="true">

        <!--    配置那些资源需要拦截
           hasAuthority 是否拥有某个权限
           isAuthenticated 只要登录就可以
        -->
        <!--        <security:intercept-url pattern="/add.html" access="hasAuthority('新增检查项')"></security:intercept-url>-->
        <!--        <security:intercept-url pattern="/del.html" access="hasAuthority('删除检查项')"></security:intercept-url>-->
        <security:intercept-url pattern="/**" access="isAuthenticated()"></security:intercept-url>
        <!--    配置登录页面
         login-page="/login.html" 告诉框架我们自定义的登录页面在哪里
           default-target-url="/index.html" 登录成功之后跳转的路径
            authentication-failure-url="/login.html" 登录失败跳转的路径
        -->
        <security:form-login
                login-page="/login.html"
                default-target-url="/index.html"
                authentication-failure-url="/login.html"
        />

        <!--        他给自己的页面颁发一个证书，我们的页面没有所已直接禁用-->
        <security:csrf disabled="true"></security:csrf>

        <!--        logout-url="/logout" 退出请求的处理地址
                    logout-success-url="/login.html" 退出成功之后去哪里
        -->
        <security:logout logout-url="/logout.do" logout-success-url="/login.html"></security:logout>


        <!--        配置没有权限的提示页面-->
        <security:access-denied-handler error-page="/error.html"></security:access-denied-handler>

    </security:http>

    <bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="bCryptPasswordEncoder"></bean>

    <!--    告诉框架我们的用户名密码在哪里（认证管理器）-->
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="MyUserService">
            <security:password-encoder ref="bCryptPasswordEncoder"></security:password-encoder>
            <!--            <security:user-service>-->
            <!--                {noop}代表是明文密码-->
            <!--                <security:user name="xiaoming" password="{noop}1234" authorities="新增检查项"></security:user>-->
            <!--                <security:user name="admin" password="{noop}1234" authorities="新增检查项,删除检查项"></security:user>-->
            <!--            </security:user-service>-->
        </security:authentication-provider>
    </security:authentication-manager>
    <bean id="MyUserService" class="com.itheima.security.MyUserService"></bean>


    <!--    开启springsecurity注解驱动-->
    <security:global-method-security pre-post-annotations="enabled"></security:global-method-security>
</beans>
